<app-header [title]="'Actions'" (onClientChanged)="clientChangedEvent($event[0])"></app-header>

<div class="alert" *ngIf="!currentClientInstance">
  Please select a client to display its actions.
</div>


<div *ngIf="currentClientInstance">
  <div class="card m-2">
    <button class="btn" (click)="onNewAction()">
      <div class="card-body bg-light text-lg">
        <fa-icon icon="plus"></fa-icon>
        New Action
      </div>
    </button>
  </div>

  <app-action-card *ngIf="showNewForm" (onActionDelete)="deleteAction($event)" [isNew]="true" [action]="newAction"
                   [clientInstanceId]="currentClientInstance?.id ?? ''"></app-action-card>
  <app-action-card *ngFor="let action of actionList" [action]=action
                   (onActionDelete)="deleteAction($event)"></app-action-card>
</div>
