<div class="card shadow mb-4">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 font-weight-bold text-primary col-9" *ngIf="!isEditMode">{{ detector.name }}</h6>
    <input type="text" class="m-0 font-weight-bold text-primary col-9 mr-2" *ngIf="isEditMode" value="{{detector.name}}">
    <button class="btn btn-success col-2 mr-2" *ngIf="!detector.isActive" (click)="toggleDetector()">Activate</button>
    <button class="btn btn-danger col-2 mr-2" *ngIf="detector.isActive" (click)="toggleDetector()">Deactivate</button>
    <button class="btn btn-outline-primary col-1" *ngIf="!isEditMode">
      <fa-icon icon="pen"></fa-icon>
    </button>
    <button class="btn btn-outline-success col-1" *ngIf="isEditMode">
      <fa-icon icon="save"></fa-icon>
    </button>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-6 d-block">
        <div *ngIf="isEditMode">
          <form class="form" [formGroup]="detectorForm">
            <div class="form-group mb-2">
              <label for="measurementName" class="form-label mr-2">Measurement Name:</label>
              <input id="measurementName" type="text" placeholder="Measurement Name" class="form-control"
                     value="{{detector.measurementName}}">
            </div>
            <div class="form-group mb-2">
              <label for="detectorInterval" class="form-label mr-2">Interval (in Milliseconds):</label>
              <input id="detectorInterval" type="number" placeholder="Interval in ms" class="form-control"
                     value="{{detector.detectorInterval}}">
            </div>
            <div class="form-group mb-2 container p-0">
              <div class="row">
                <div class="d-inline col">
                  <label for="fromTime" class="form-label mr-2 d-block">From Time:</label>
                  <input id="fromTimeHours" type="number" class="form-control d-inline col-2 text-center p-0"
                         value="{{ (detector.fromTime | TicksToTimespanPipe).hours}}" min="0">
                  <p class="d-inline ml-1 mr-1">:</p>
                  <input id="fromTimeMinutes" type="number" class="form-control d-inline col-2 text-center p-0"
                         value="{{ (detector.fromTime | TicksToTimespanPipe).mins}}" min="0">
                  <p class="d-inline ml-1 mr-1">:</p>
                  <input id="fromTimeSeconds" type="number" class="form-control d-inline col-2 text-center p-0"
                         value="{{ (detector.fromTime | TicksToTimespanPipe).secs}}" min="0">
                  <p class="d-inline ml-1 mr-1">.</p>
                  <input id="fromTimeMilliseconds" type="number" class="form-control d-inline col-3 text-center p-0"
                         value="{{ (detector.fromTime | TicksToTimespanPipe).ms}}" min="0">
                </div>
                <div class="d-inline col">
                  <label for="toTime" class="form-label mr-2 d-block">To Time:</label>
                  <input id="toTimeHours" type="number" class="form-control d-inline col-2 text-center p-0"
                         value="{{ (detector.toTime | TicksToTimespanPipe).hours}}" min="0">
                  <p class="d-inline ml-1 mr-1">:</p>
                  <input id="toTimeMinutes" type="number" class="form-control d-inline col-2 text-center p-0"
                         value="{{ (detector.toTime | TicksToTimespanPipe).mins}}" min="0">
                  <p class="d-inline ml-1 mr-1">:</p>
                  <input id="toTimeSeconds" type="number" class="form-control d-inline col-2 text-center p-0"
                         value="{{ (detector.toTime | TicksToTimespanPipe).secs}}" min="0">
                  <p class="d-inline ml-1 mr-1">.</p>
                  <input id="toTimeMilliseconds" type="number" class="form-control d-inline col-3 text-center p-0"
                         value="{{ (detector.toTime | TicksToTimespanPipe).ms}}" min="0">
                </div>
              </div>
            </div>

            <div class="form-group mb-2">
              <label for="detectorAction" class="form-label mr-2">Action:</label>
              <select id="detectorAction" class="form-control custom-select" formControlName="actionSelector">
                <option *ngFor="let action of actions" class="option"
                        value="{{action.id}}">{{action.actionType + ' | ' + action.actionTarget}}</option>
              </select>
            </div>

            <div class="form-group mb-2">
              <label for="listOperation" class="form-label mr-2">List Operation:</label>
              <select id="listOperation" class="form-control custom-select" formControlName="operationSelector">
                <option *ngFor="let operation of operations" class="option"
                        value="{{operation}}">{{operation}}</option>
              </select>
            </div>
          </form>
        </div>
      </div>

      <div class="col-6 d-block">
        <div class="form-group mb-2">
          <label for="minValue" class="form-label mr-2">Minimum Value:</label>
          <input id="minValue" type="number" placeholder="Minimum Value" class="form-control"
                 value="{{detector.minValue}}" min="0">
        </div>
        <div class="form-group mb-2">
          <label for="maxValue" class="form-label mr-2">Maximum Value:</label>
          <input id="maxValue" type="number" placeholder="Maximum Value" class="form-control"
                 value="{{detector.maxValue}}" min="0">
        </div>
        <div class="form-group mb-2">
          <label for="lastMeasures" class="form-label mr-2">Last Measures:</label>
          <input id="lastMeasures" type="number" placeholder="Last Measures" class="form-control"
                 value="{{detector.lastMeasures}}" min="0">
        </div>
        <div class="form-group mb-2">
          <label for="maxOutliers" class="form-label mr-2">Max Outliers:</label>
          <input id="maxOutliers" type="number" placeholder="Max Outliers" class="form-control"
                 value="{{detector.maxOutliers}}" min="0">
        </div>
      </div>
    </div>
  </div>
</div>
