<div id="wrapper">
<ul id="accordionSidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled">
    <a class="sidebar-brand d-flex align-items-center justify-content-center">Test</a>
    <hr class="sidebar-divider my-0"/>
    <li class="navbar-item active">
        <a class="nav-link" href="dash">
            <fa-icon icon="tachometer-alt"></fa-icon>
            <span>Dashboard</span>
        </a>
    </li>
</ul>
<div id="content-wrapper" class="d-flex flex-column">
    <router-outlet></router-outlet>
</div>
</div>
