<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">New Graph</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #newChartForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="modal-body">
    <div class="form-group">
      <select class="form-select mb-2" id="chartType" [(ngModel)]="chart.type">
        <option value="bar">Barchart</option>
        <option value="line">Linechart</option>
        <option value="pie">Piechart</option>
      </select>
      <input id="metricName" type="text" placeholder="Metric Name" class="form-control" [(ngModel)]="chart.metric"
             required/>
      <div *ngIf="errors.title" class="invalid-feedback">{{errors.title}}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Cancel click')">Cancel</button>
    <button type="button" class="btn btn-outline-success" (click)="activeModal.close('Save click')" role="submit">Save</button>
  </div>
</form>
