<app-header [title]="'Logmessages'" (onClientChanged)="onClientChanged($event[0])"></app-header>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <div class="dataTables_wrapper">
        <div class="row">
          <div class="col-sm-12">
            <table id="logMessageTable" class="table table-bordered dataTable" role="grid"
                   datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">

            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
