<app-header [title]="'Dashboard'" (onClientChanged)="clientChanged($event[0])"></app-header>

<div class="container-fluid">
  <div class="row">
    <div class="col-2 mb-5" *ngFor="let client of selectableClients">
      <app-heartbeat [client]="client"></app-heartbeat>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
      <app-newchart (onChartCreated)="createNewChart($event[0], $event[1])"></app-newchart>
    </div>
    <div *ngFor="let chart of charts;" class="col-4">
      <div class="card">
        <div class="card-header text-end">
          <!--          <button class="btn btn-outline-warning mr-2">-->
          <!--            <fa-icon icon="pen"></fa-icon>-->
          <!--          </button>-->
          <button class="btn btn-outline-danger" (click)="removeChart(chart.type, chart.metric)">
            <fa-icon icon="trash"></fa-icon>
          </button>
        </div>
        <div class="card-body">
          <app-linechart *ngIf="chart.type == 'line'" [metricNameInput]="chart.metric"
                         [onClientChange]="updateChart"></app-linechart>
          <app-barchart *ngIf="chart.type == 'bar'" [metricNameInput]="chart.metric"
                        [onClientChange]="updateChart"></app-barchart>
          <app-piechart *ngIf="chart.type == 'pie'" [metricNameInput]="chart.metric"
                        [onClientChange]="updateChart"></app-piechart>
        </div>
      </div>
    </div>
  </div>
</div>
