<app-header [title]="'Data view'" (onClientChanged)="onClientChanged($event[0])"></app-header>


<div class="card shadow mb-4">
  <div class="card-header">
    <div class="row">

    <h3 class="h3 mb-0 col-11">Counter Metrics</h3>
    <button class="btn btn-outline-primary col-1"><fa-icon icon="sync-alt"></fa-icon> </button>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="dataTables_wrapper">
        <div class="row">
          <div class="col-sm-12">
            <table id="counterTable" class="table table-bordered dataTable" role="grid" aria-describedby="Metric Data"
                   datatable [dtOptions]="counterTableOptions" [dtTrigger]="counterTableTrigger">
              <thead>
              <tr role="row">
              </tr>
              </thead>
              <tbody *ngIf="currentClientInstance !== null && counterMetricList?.length != 0">
              </tbody>
              <tbody *ngIf="currentClientInstance === null">
                <tr>
                  <td colspan="4" class="no-data-available text-center">Please select a Client to display Data</td>
                </tr>
              </tbody>
              <tbody *ngIf="currentClientInstance !== null && counterMetricList?.length == 0">
              <tr>
                <td colspan="4" class="no-data-available text-center">No metrics of this type for this Client Instance</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header">
    <div class="row">

      <h3 class="h3 mb-0 col-11">Measurement Metrics</h3>
      <button class="btn btn-outline-primary col-1"><fa-icon icon="sync-alt"></fa-icon> </button>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="dataTables_wrapper">
        <div class="row">
          <div class="col-sm-12">
            <table id="measurementTable" class="table table-bordered dataTable" role="grid" aria-describedby="Metric Data"
                   datatable [dtOptions]="measurementTableOptions" [dtTrigger]="measurementTableTrigger">
              <thead>
              <tr role="row">
              </tr>
              </thead>
              <tbody *ngIf="currentClientInstance !== null && measurementMetricList?.length != 0">
              </tbody>
              <tbody *ngIf="currentClientInstance === null">
              <tr>
                <td colspan="4" class="no-data-available text-center">Please select a Client to display Data</td>
              </tr>
              </tbody>
              <tbody *ngIf="currentClientInstance !== null && measurementMetricList?.length == 0">
              <tr>
                <td colspan="4" class="no-data-available text-center">No metrics of this type for this Client Instance</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card shadow mb-4">
  <div class="card-header">
    <div class="row">

      <h3 class="h3 mb-0 col-11">Timespan Metrics</h3>
      <button class="btn btn-outline-primary col-1"><fa-icon icon="sync-alt"></fa-icon> </button>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <div class="dataTables_wrapper">
        <div class="row">
          <div class="col-sm-12">
            <table id="timespanTable" class="table table-bordered dataTable" role="grid" aria-describedby="Metric Data"
                   datatable [dtOptions]="timespanTableOptions" [dtTrigger]="timespanTableTrigger">
              <thead>
              <tr role="row">
              </tr>
              </thead>
              <tbody *ngIf="currentClientInstance !== null && timespanMetricList?.length != 0">
              </tbody>
              <tbody *ngIf="currentClientInstance === null">
              <tr>
                <td colspan="4" class="no-data-available text-center">Please select a Client to display Data</td>
              </tr>
              </tbody>
              <tbody *ngIf="currentClientInstance !== null && timespanMetricList?.length == 0">
              <tr>
                <td colspan="4" class="no-data-available text-center">No metrics of this type for this Client Instance</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
