<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <fa-icon icon="bars"></fa-icon>
  </button>

  <h1 class="h3 mb-0 text-gray-800">{{ title }}</h1>

  <ul class="navbar-nav ml-auto">
    <li class="nav-item dropdown no-arrow" ngbDropdown>
      <button id="clientDropdown" class="nav-link btn" role="button" ngbDropdownToggle aria-haspopup="true"
              aria-expanded="false">
        <span class="mr-2 d-lg-inline text-gray-600" *ngIf="currentClient == null">All Clients</span>
        <span class="mr-2 d-lg-inline text-gray-600"
              *ngIf="currentClient != null">{{currentClient.identifier}}</span>
      </button>
      <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" ngbDropdownMenu>
        <button class="dropdown-item btn" *ngIf="currentClient != null" (click)="selectClient(null)">All Clients</button>
        <div *ngFor="let client of selectableClients">
          <button class="dropdown-item btn" *ngIf="currentClient == null || currentClient.identifier != client.identifier"
                  (click)="selectClient(client.id)">
            {{ client.identifier }}
          </button>
        </div>
      </div>
    </li>
  </ul>
</nav>
